<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>To Do App</title>
    <link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>
    <div class="container">
        <h1 class="display-1">To Do List</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todo : ${todoList}">
                <th scope="row" th:text="${todo.id}"></th>
                <td th:text="${todo.name}"></td>
                <td th:text="${todo.description}"></td>
                <td>
                    <a th:href="@{/todo/update-to-do-form/{id}(id=${todo.id})}" class="btn btn-primary">Edit</a>
                    <a th:href="@{/todo/delete-to-do/{id}(id=${todo.id})}" class="btn btn-warning">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/todo/add-to-do-form}" class="btn btn-success">Add To Do</a>
    </div>
</body>
</html>